
div.css-1ope8sv.e1fqkh3o4 {
background-color: black;
}

section.css-163ttbj.e1fqkh3o11 {
    background-color: black;
    }

div.appview-container.css-1wrcr25.egzxvld4  {
    background-color: black;
    }

div.css-1ope8sv.e1fqkh3o4  {
    background-color: black;
    }